<a href="https://colab.research.google.com/github/andresfelipebarragannino6-ai/Visualizaci-n-de-Datos-estilizando-tablas-con-Python/blob/main/Estilizacion_de_tablas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Visualization: Estilizando tablas con python**

## **Extracción y preparación de los datos**

In [1]:
# !pip install pandas==2.0.0

In [2]:
import pandas as pd

print(pd.__version__)

2.2.2

In [3]:
ventas = pd.read_csv('https://gist.githubusercontent.com/ahcamachod/d2efadda3f3833d65da750c64705ac42/raw/80aef6f3bad210d34b67ed85565f039a30e2d9e0/ventas.csv', sep='#')
ventas.head()

,fecha_pedido,fecha_envio,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,precio_base,precio_unit_sin_descuento,descuento,precio_unit_venta,cantidad,ventas,ganancia
0,2018-11-09,2018-11-12,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,409.70,445.33,0.000,445.33,2,890.66,71.26
1,2018-11-09,2018-11-12,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Herramientas,705.10,829.53,0.000,829.53,3,2488.59,373.29
2,2018-06-13,2018-06-17,Económica,Matías González,B2B,Córdoba,Córdoba,Central,Jardinería y paisajismo,Semillas,19.02,24.86,0.000,24.86,2,49.72,11.68
3,2017-10-12,2017-10-19,Entrega estándar,Lucas González,B2C,Gualeguay,Entre Ríos,Litoral,Materiales de construcción,Materiales de revestimiento,781.38,840.19,0.225,651.15,5,3255.75,-651.15
4,2017-10-12,2017-10-19,Entrega estándar,Lucas González,B2C,Gualeguay,Entre Ríos,Litoral,Jardinería y paisajismo,Macetas,35.88,42.24,0.100,38.02,2,76.04,4.28

In [4]:
ventas = ventas[['fecha_pedido','modo_envio','nombre_cliente','segmento_cliente','ciudad','provincia','region','departamento','tipo_producto','ventas','cantidad','ganancia']]
ventas.head(2)

,fecha_pedido,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,ventas,cantidad,ganancia
0,2018-11-09,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,890.66,2,71.26
1,2018-11-09,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Herramientas,2488.59,3,373.29

In [5]:
ventas.shape

(8940, 12)

In [6]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8940 entries, 0 to 8939
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fecha_pedido      8940 non-null   object
 1   modo_envio        8940 non-null   object
 2   nombre_cliente    8940 non-null   object
 3   segmento_cliente  8940 non-null   object
 4   ciudad            8940 non-null   object
 5   provincia         8940 non-null   object
 6   region            8940 non-null   object
 7   departamento      8940 non-null   object
 8   tipo_producto     8940 non-null   object
 9   ventas            8940 non-null   float64
 10  cantidad          8940 non-null   int64
 11  ganancia          8940 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 838.3+ KB

In [7]:
ventas['fecha_pedido'] = pd.to_datetime(ventas['fecha_pedido'],format='%Y-%m-%d')
ventas.head(2)

,fecha_pedido,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,ventas,cantidad,ganancia
0,2018-11-09,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,890.66,2,71.26
1,2018-11-09,Económica,Gaspar Fernández,B2C,Lomas de Zamora,Buenos Aires,Buenos Aires,Materiales de construcción,Herramientas,2488.59,3,373.29

In [8]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8940 entries, 0 to 8939
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fecha_pedido      8940 non-null   datetime64[ns]
 1   modo_envio        8940 non-null   object
 2   nombre_cliente    8940 non-null   object
 3   segmento_cliente  8940 non-null   object
 4   ciudad            8940 non-null   object
 5   provincia         8940 non-null   object
 6   region            8940 non-null   object
 7   departamento      8940 non-null   object
 8   tipo_producto     8940 non-null   object
 9   ventas            8940 non-null   float64
 10  cantidad          8940 non-null   int64
 11  ganancia          8940 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 838.3+ KB

## Misión 1: Equipo de Ventas

Necesitamos construir una visualización para indicar los **10 principales clientes por total de ventas**.

Con ello, el equipo de ventas puede pensar en estrategias para mantener a estos clientes comprando en nuestra tienda.

In [9]:
clientes = ventas.groupby(['nombre_cliente'])['ventas'].sum().nlargest(10).copy()
clientes = clientes.reset_index()
clientes

      nombre_cliente    ventas
0    Víctor Carrasco  73370.61
1        Brisa Rojas  68868.11
2       Mateo Vargas  62749.75
3      Vicente Rojas  59544.11
4        Laura Rojas  51398.87
5         Lucía Díaz  48178.99
6   Cristina Barrios  47610.80
7  Alejandro Sánchez  43769.25
8      Pamela Huerta  42354.19
9     Carlos Sánchez  41238.81

In [10]:
# dic = {'nombre_cliente':'Clientes', 'ventas':'Ventas'}
# clientes = clientes.rename(columns=dic)

clientes.columns = ['Clientes','Ventas']
clientes['Ranking'] = clientes.index + 1
clientes.set_index('Ranking',inplace=True)
clientes

                  Clientes    Ventas
Ranking
1          Víctor Carrasco  73370.61
2              Brisa Rojas  68868.11
3             Mateo Vargas  62749.75
4            Vicente Rojas  59544.11
5              Laura Rojas  51398.87
6               Lucía Díaz  48178.99
7         Cristina Barrios  47610.80
8        Alejandro Sánchez  43769.25
9            Pamela Huerta  42354.19
10          Carlos Sánchez  41238.81

In [11]:
estilo = clientes.style
estilo

In [12]:
estilo.format({'Ventas':'{:,.2f}'})
estilo

In [13]:
import pandas as pd

# DataFrame con películas bien valoradas
datos = {
    'Género': ['Drama', 'Comedia', 'Acción', 'Ciencia Ficción', 'Terror'],
    'Nota Media': [4.5, 4.3, 4.2, 4.1, 3.8],
    'Cantidad de Evaluaciones': [1500, 1200, 1000, 800, 600]
}

df_peliculas = pd.DataFrame(datos)

# Añade un ranking de popularidad basado en el número de evaluaciones
df_peliculas['Ranking'] = df_peliculas['Cantidad de Evaluaciones'].rank(method='dense', ascending=False).astype(int)

# Define la columna 'Ranking' como índice del DataFrame
df_peliculas.set_index('Ranking', inplace=True)

# Objeto style
s_pelicula = df_peliculas.style

# Crear un archivo HTML
s_pelicula.to_html('estilo_html.html', index=False)

# Crear un archivo Excel
s_pelicula.to_excel('estilo_xlsx.xlsx', engine='openpyxl')

# Crear un archivo LaTeX
with open('estilo_latex.tex', 'w') as f:
    f.write(s_pelicula.to_latex())

##**Desafío: llegó la hora de practicar**

In [14]:
tienda_libros = pd.read_csv('https://gist.githubusercontent.com/ahcamachod/52da15c2bbb31e4270b5c267dd051473/raw/62c366878ebd4be2ec899836413c8d1f3e116c01/tienda_libros.csv', sep=',')
tienda_libros.head()

,pais,id_cliente,fecha_pedido,fecha_llegada,tipo_compra,numero_pedido,tamano_paquete,unidades,costo_empacado,costo_envio,tipo_descuento,categoria,tipo_consumo,tipo_cliente,costo_producto
0,Argentina,111962928,2002-02-15,2002-03-10,Normal,98091426,Paquete pequeño,1,3.0,5.99,Sin descuento,BlueRay,Alto Consumo,B2C,8.99
1,Argentina,145148150,2004-11-05,2004-11-26,Normal,98087803,Paquete pequeño,3,1.0,6.99,Sin descuento,BlueRay,Alto Consumo,B2C,7.99
2,Argentina,194622983,2014-09-14,2014-09-28,Normal,98072296,Paquete pequeño,1,3.0,6.99,Sin descuento,BlueRay,Alto Consumo,B2C,9.99
3,Argentina,220834258,2011-07-20,2011-07-30,Devolución,98077986,Paquete pequeño,2,1.0,3.86,Cyber Monday,BlueRay,Alto Consumo,B2B,4.86
4,Argentina,220834258,2013-09-15,2017-02-15,Normal,98074234,Paquete pequeño,1,2.0,4.88,Black Friday,BlueRay,Alto Consumo,B2B,6.88

In [15]:
import pandas as pd

tabla_paises = (
    tienda_libros.groupby("pais")["unidades"]
      .sum()
      .sort_values(ascending=False)   # Orden descendente
      .reset_index()
)

tabla_paises

# Renombrar columnas
tabla_paises.columns = ['Pais', 'Unidades']

# Crear ranking
tabla_paises['Ranking'] = tabla_paises.index + 1

# Establecer ranking como índice
tabla_paises.set_index('Ranking', inplace=True)

tabla_paises

              Pais  Unidades
Ranking
1        Argentina      5591
2          Ecuador      5566
3         Paraguay      5564
4             Perú      5550
5        Venezuela      5529
6         Colombia      5504
7           Brasil      5473
8          Uruguay      5377
9            Chile      5304

# Misión 2: Equipo Comercial

Necesitamos construir una visualización que permita asociar el **total de ganancias en ventas y el total de lucros por tipo de producto**.

Ello permitirá que el equipo comercial pueda enfocarse en estrategias para apalancar los ingresos que se reciben con cada tipo de producto vendido en la tienda.

In [16]:
ganancias_ventas = ventas.groupby(['tipo_producto'])[['ventas','ganancia']].sum()
ganancias_ventas

                                 ventas  ganancia
tipo_producto
Brotes                          8811.32   1381.42
Decoración de jardín           82680.08   9939.43
Equipos de limpieza           542304.58   8724.39
Fertilizantes                  53144.74  11254.88
Fontanería                    373223.88  -5622.34
Herramientas                  995158.41  41020.34
Herramientas automotrices     502109.29  63330.22
Herramientas de jardinería    648879.72  53202.88
Iluminación                   275229.53  20264.54
Macetas                       696044.18  33941.85
Materiales de paisajismo      150552.49  -1912.37
Materiales de revestimiento   629656.36 -28869.01
Muebles de exterior           328932.27  26784.59
Neumáticos                   1022428.97  67460.05
Pesticidas                    244956.04  53343.89
Piezas de repuesto            486907.94  91148.67
Semillas                       39979.75   8865.09

In [17]:
ganancias_ventas.index.name = 'tipo de producto'
ganancias_ventas

                                 ventas  ganancia
tipo de producto
Brotes                          8811.32   1381.42
Decoración de jardín           82680.08   9939.43
Equipos de limpieza           542304.58   8724.39
Fertilizantes                  53144.74  11254.88
Fontanería                    373223.88  -5622.34
Herramientas                  995158.41  41020.34
Herramientas automotrices     502109.29  63330.22
Herramientas de jardinería    648879.72  53202.88
Iluminación                   275229.53  20264.54
Macetas                       696044.18  33941.85
Materiales de paisajismo      150552.49  -1912.37
Materiales de revestimiento   629656.36 -28869.01
Muebles de exterior           328932.27  26784.59
Neumáticos                   1022428.97  67460.05
Pesticidas                    244956.04  53343.89
Piezas de repuesto            486907.94  91148.67
Semillas                       39979.75   8865.09

In [18]:
estilo_producto = ganancias_ventas.style
estilo_producto

In [19]:
estilo_producto.format('USD {:,.2f}')
estilo_producto

In [20]:
estilo_producto = estilo_producto.format('USD {:,.2f}').highlight_max(color='lightgreen').highlight_min(color='red')
estilo_producto

In [21]:
estilo_producto.background_gradient(cmap='Greens')

In [22]:
encabezado = {
              'selector':'th', # table head
              'props':'font-weight:bold; font-family:Arial; text-align:center; text-transform:capitalize'
}

In [23]:
estilo_producto.set_table_styles([encabezado],overwrite=False)

In [24]:
# Datos de la tabla
datos = {'Jugadoras': ['Lana', 'Maria', 'Paula', 'Ana', 'Sandy'],
         'Puntuación': [56, 72, 49, 85, 68]}

# Creando el DataFrame
df = pd.DataFrame(datos)
df = df.set_index('Jugadoras')
df

           Puntuación
Jugadoras
Lana               56
Maria              72
Paula              49
Ana                85
Sandy              68

In [25]:
estilo = df.style
estilo.background_gradient(cmap='Greens')

##**Desafío: llegó la hora de practicar**

In [26]:
import pandas as pd

# Cargar el dataset
tienda_libros = pd.read_csv(
    'https://gist.githubusercontent.com/ahcamachod/52da15c2bbb31e4270b5c267dd051473/raw/62c366878ebd4be2ec899836413c8d1f3e116c01/tienda_libros.csv',
    sep=','
)

producto_costo = tienda_libros.groupby(['categoria'])[['costo_producto']].sum()

producto_costo.index.name = 'Categoría producto'
producto_costo.columns = ['Costo de pedidos']

s_producto = (
    producto_costo.style
    .format('USD {:,.2f}')
    .highlight_max(color='lightgreen')
    .highlight_min(color='red')
)

s_producto

# Misión 3: Equipo de Logística

Necesitamos construir una visualización que nos permita entender la **distribución de pedidos por región de Brasil**.

Así, el equipo de logística va a saber dónde hay más oportunidad de enfocar los esfuerzos de material y mano de obra.

In [27]:
region = pd.DataFrame(ventas['region'].value_counts())
region.columns = ['N° Pedidos']
region.index.name = 'Región'
region

              N° Pedidos
Región
Buenos Aires        2822
Litoral             1924
Norte               1555
Central             1276
Cuyo                 915
Patagónica           448

In [28]:
import numpy as np

In [29]:
porcentaje = region['N° Pedidos'].to_numpy()
porcentaje = 100*porcentaje/porcentaje.sum()
porcentaje

array([31.56599553, 21.5212528 , 17.39373602, 14.27293065, 10.23489933,
        5.01118568])

In [30]:
region['Porcentaje de pedidos'] = porcentaje
region

              N° Pedidos  Porcentaje de pedidos
Región
Buenos Aires        2822              31.565996
Litoral             1924              21.521253
Norte               1555              17.393736
Central             1276              14.272931
Cuyo                 915              10.234899
Patagónica           448               5.011186

In [31]:
estilo_region = region.style
estilo_region

In [32]:
encabezado = {
              'selector':'th', # table head
              'props':'font-weight:bold; font-family:Arial; text-align:right; background-color:white; color:black'
}
celdas = {
          'selector':'td', # table deal
          'props':'background-color:white; color:black'
}
estilo_region.set_table_styles([encabezado,celdas])

In [33]:
estilo_region.format({'Porcentaje de pedidos':'{:.2f}%'})\
                    .bar(subset='Porcentaje de pedidos',vmin=0,vmax=100,color='#9cd3bb')

In [34]:
# Datos de la tabla
datos = {
    'Ranking': [1, 2, 3, 4, 5],
    'Año': [2009, 2019, 2022, 1997, 2015],
    'Película': ['Avatar', 'Avengers: Endgame', 'Avatar: The Way of Water', 'Titanic', 'Star Wars: The Force Awakens'],
    'Distribuidor': ['20th Century Fox', 'Walt Disney Studios Motion Pictures', '20th Century Studios', 'Paramount Pictures / 20th Century Fox', 'Walt Disney Studios Motion Pictures'],
    'Taquilla (US$)': [2923706026.0, 2799439100.0, 2319380773.0, 2264577439.0, 2071310218.0]
}

# Creando el DataFrame
df = pd.DataFrame(datos)
df = df.set_index('Ranking')

# Creando el Styler
estilo = df.style.format({'Taquilla (US$)':'{:,.0f}'})

estilo

In [35]:
encabezado = {
    'selector': 'th',
    'props': 'font-family: Helvetica; color: #dddd55; background-color: #34495E; text-align: center;'
}

celdas = {
    'selector': 'td',
    'props': 'font-family: Helvetica; color: white; background-color: #34495E; text-align: left;'
}

estilo.set_table_styles([encabezado, celdas])

In [36]:
import pandas as pd
import numpy as np

datos = pd.DataFrame({'ID': [1204, 3018, 9963, 1005, 5627],
                   'Edad': [np.nan, 32, 19, np.nan, 38],
                   'Salario': [3500.00, 4200.50, 2800.00, 5700.25, 4900.75]})

In [37]:
s_nan = datos.style.format({'Edad':'{:.0f}','Salario':'{:,.2f}'})\
                   .highlight_null(color='#F79747')
s_nan

In [38]:
# Definir los límites superior e inferior
límite_superior = 5000.0
# El límite inferior se especifica a través de una Series que informa cuál es la columna que tendrá la aplicación de la función
límite_inferior = pd.Series([4000.0], index=['Salario'])

# Aplicar la estilización con highlight_between
s_bet = datos.style.format({'Edad':'{:.0f}','Salario':'{:,.2f}'})\
                   .highlight_between(left=límite_inferior, right=límite_superior,
                                      axis=1, color='#94B2D7')
s_bet

## Desafío: llegó la hora de practicar

In [39]:
descuentos = tienda_libros['tipo_descuento'].value_counts()
descuentos.name = 'N° Pedidos'
descuentos = descuentos.to_frame()
descuentos.index.name = 'Tipo de descuento'

porcentaje = descuentos['N° Pedidos'].to_numpy()
porcentaje = 100 * porcentaje / porcentaje.sum()
descuentos['Porcentaje de pedidos'] = porcentaje

encabezado = {
              'selector':'th', # table head
              'props':'font-weight:bold; font-family:Arial; text-align:right; background-color:white; color:black'
}
celdas = {
          'selector':'td', # table deal
          'props':'background-color:white; color:black'
}

styled_descuentos = descuentos.style.set_table_styles([encabezado,celdas])

s_descuentos = (styled_descuentos
                   .format({'Porcentaje de pedidos':'{:.2f}%'})
                   .bar(subset='Porcentaje de pedidos',vmin=0,vmax=100,color='#9cd3bb'))

s_descuentos

# Misión 4: Equipo de Logística

Nuevamente el equipo de logística desea replantear su estructura y organización de provisionamiento de productos e, para ello, se pensó en una visualización que permita identificar el estándar de la **cantidad de productos solicitados por mes por departamento**.

In [40]:
meses = ventas.copy()
meses = meses.sort_values('fecha_pedido')
meses

,fecha_pedido,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,ventas,cantidad,ganancia
7171,2016-01-04,Entrega estándar,Ramiro Guzmán,B2C,Rosario,Santa Fe,Litoral,Jardinería y paisajismo,Pesticidas,55.92,2,9.44
651,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,12.04,2,-9.32
650,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Macetas,927.30,3,-110.13
649,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Semillas,40.08,3,7.26
1576,2016-01-06,Entrega estándar,Florencia Chávez,B2C,Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,Buenos Aires,Jardinería y paisajismo,Decoración de jardín,66.42,3,8.31
...,...,...,...,...,...,...,...,...,...,...,...,...
796,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,179.43,3,33.63
795,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Automotriz,Neumáticos,309.19,7,4.69
794,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,1098.68,4,20.60
1151,2019-12-31,Entrega estándar,Francisco Cárdenas,B2B,Quilmes,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,47.28,2,7.68
1152,2019-12-31,Entrega estándar,Francisco Cárdenas,B2B,Quilmes,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,70.44,2,11.00

In [41]:
meses['mes'] = meses['fecha_pedido'].dt.strftime('%Y - %b')
meses = meses.reset_index(drop=True)
meses

,fecha_pedido,modo_envio,nombre_cliente,segmento_cliente,ciudad,provincia,region,departamento,tipo_producto,ventas,cantidad,ganancia,mes
0,2016-01-04,Entrega estándar,Ramiro Guzmán,B2C,Rosario,Santa Fe,Litoral,Jardinería y paisajismo,Pesticidas,55.92,2,9.44,2016 - Jan
1,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,12.04,2,-9.32,2016 - Jan
2,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Macetas,927.30,3,-110.13,2016 - Jan
3,2016-01-05,Entrega estándar,Jerónimo Cortés,B2B,Pergamino,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Semillas,40.08,3,7.26,2016 - Jan
4,2016-01-06,Entrega estándar,Florencia Chávez,B2C,Ciudad Autónoma de Buenos Aires,Ciudad Autónoma de Buenos Aires,Buenos Aires,Jardinería y paisajismo,Decoración de jardín,66.42,3,8.31,2016 - Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8935,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,179.43,3,33.63,2019 - Dec
8936,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Automotriz,Neumáticos,309.19,7,4.69,2019 - Dec
8937,2019-12-31,Entrega estándar,Olivia Aguilar,B2C,La Plata,Buenos Aires,Buenos Aires,Materiales de construcción,Fontanería,1098.68,4,20.60,2019 - Dec
8938,2019-12-31,Entrega estándar,Francisco Cárdenas,B2B,Quilmes,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,47.28,2,7.68,2019 - Dec
8939,2019-12-31,Entrega estándar,Francisco Cárdenas,B2B,Quilmes,Buenos Aires,Buenos Aires,Jardinería y paisajismo,Herramientas de jardinería,70.44,2,11.00,2019 - Dec

In [42]:
pd.set_option('display.max_columns',None)

In [43]:
ventas_mensuales = meses.pivot_table(index=meses.departamento,columns='mes',values='cantidad',aggfunc='sum',sort=False)
ventas_mensuales

mes,2016 - Jan,2016 - Feb,2016 - Mar,2016 - Apr,2016 - May,2016 - Jun,2016 - Jul,2016 - Aug,2016 - Sep,2016 - Oct,2016 - Nov,2016 - Dec,2017 - Jan,2017 - Feb,2017 - Mar,2017 - Apr,2017 - May,2017 - Jun,2017 - Jul,2017 - Aug,2017 - Sep,2017 - Oct,2017 - Nov,2017 - Dec,2018 - Jan,2018 - Feb,2018 - Mar,2018 - Apr,2018 - May,2018 - Jun,2018 - Jul,2018 - Aug,2018 - Sep,2018 - Oct,2018 - Nov,2018 - Dec,2019 - Jan,2019 - Feb,2019 - Mar,2019 - Apr,2019 - May,2019 - Jun,2019 - Jul,2019 - Aug,2019 - Sep,2019 - Oct,2019 - Nov,2019 - Dec
departamento,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Jardinería y paisajismo,161,87,277,323,270,273,348,339,549,276,716,525,97,131,278,271,269,321,268,322,663,260,746,628,190,177,260,338,463,473,413,380,757,402,727,770,361,205,458,415,542,490,423,561,929,617,946,989
Automotriz,45,20,46,107,81,83,91,95,154,85,236,154,55,44,74,111,94,59,88,117,180,100,179,235,59,49,112,72,124,118,117,123,181,103,253,189,109,63,167,87,150,170,168,136,280,205,331,252
Materiales de construcción,60,23,102,69,91,114,104,101,182,94,213,269,93,38,100,85,76,120,128,106,194,129,259,258,91,67,127,128,171,117,132,113,227,171,308,294,83,67,107,131,172,151,162,132,282,213,312,395

In [44]:
import pandas as pd

df = pd.DataFrame({
    'Región': ['Norte', 'Norte', 'Norte', 'Norte', 'Sur', 'Sur', 'Sur', 'Sur'],
    'Producto': ['Producto A', 'Producto B', 'Producto A', 'Producto B', 'Producto A', 'Producto B', 'Producto A', 'Producto B'],
    'Ventas': [100, 50, 150, 200, 70, 120, 110, 80],
    'Fecha': ['01/2022', '01/2022', '02/2022', '02/2022', '01/2022', '01/2022', '02/2022', '02/2022']
})

In [45]:
df.pivot_table(values='Ventas', index='Región', columns='Producto', aggfunc='mean')

Producto  Producto A  Producto B
Región
Norte          125.0       125.0
Sur             90.0       100.0

In [46]:
df.pivot(index=['Región', 'Producto'], columns='Fecha', values='Ventas')

Fecha              01/2022  02/2022
Región Producto
Norte  Producto A      100      150
       Producto B       50      200
Sur    Producto A       70      110
       Producto B      120       80

In [47]:
estilo_mensual = ventas_mensuales.style
estilo_mensual

In [48]:
estilo_mensual.set_sticky(axis='index')

In [49]:
# Datos de notas y ID
notas = [[ 1,  2,  3,  9,  0,  2], [ 2,  6,  5,  0,  2,  8], [ 3,  8,  6,  8,  8,  4], [ 4,  4,  8,  6,  2,  7], [ 5,  4,  6, 10,  6,  4],
         [ 6,  2,  2,  8,  0,  0], [ 7,  9,  9, 10,  2,  5], [ 8,  7,  7,  1,  7,  8], [ 9,  0,  6,  4,  2,  2], [10,  2,  1,  6,  0,  0],
         [11,  4,  7,  9,  3,  8], [12, 10,  4,  9,  6,  3], [13,  5,  8,  5,  6,  9], [14,  2,  1, 10,  0,  4], [15,  8,  5,  6, 10,  2],
         [16,  9,  5, 10,  8,  4], [17,  0,  5, 10,  1,  4], [18,  5,  7,  9,  3,  5], [19,  2,  7,  7,  2,  8], [20,  8,  7,  2,  8, 10],
         [21,  5,  4, 10,  5,  4], [22,  4,  1,  7,  7, 10], [23,  9,  8,  2,  9,  4], [24,  7,  0,  5,  3, 10], [25,  3, 10,  8,  1,  8],
         [26,  3, 10,  5,  6,  2], [27,  5,  4,  4,  3,  2], [28,  7,  7,  4,  5,  7], [29,  4,  4, 10,  0,  6], [30,  5,  0,  4,  1,  3],
         [31,  8,  3,  2,  4,  6], [32,  3, 10,  3,  0,  1], [33, 10,  2, 10,  9,  2], [34,  0,  8,  0,  9,  2], [35,  7,  0,  0,  3, 10],
         [36,  2, 10, 10,  7,  6], [37,  0,  2,  5, 10,  8], [38,  6,  9,  6,  3,  7], [39,  5,  0,  9,  2,  1], [40,  4,  0,  1,  1,  6]]

## Crear el dataframe con los datos
df = pd.DataFrame(notas, columns = ['ID', '1 estrella', '2 estrellas', '3 estrellas','4 estrellas','5 estrellas'])
df = df.set_index('ID')

## Crear el estilo
estilo_app = df.style

In [50]:
estilo_app.set_sticky(axis=1)
estilo_app.set_sticky(axis='columns')

In [51]:
columas = {
          'selector':'.col_heading',
          'props': 'font-weight:normal; font-family:Arial'
}
tabla = {
          'selector':'td,th',
          'props': 'text-align:left'
}
indices = {
          'selector':'.index_name',
          'props': 'font-weight:bold; font-family:Arial; text-align:right'
}
estilo_mensual.set_table_styles([columas,tabla,indices],overwrite=False)

In [52]:
columas = {
          'selector':'.col_heading',
          'props': 'font-weight:normal; font-family:Arial'
}

tabla = {
          'selector':'td,th',
          'props': 'text-align:left'
}

indices = {
          'selector':'.index_name',
          'props': 'font-weight:bold; font-family:Arial; text-align:right'
}

fila_media = {
    'selector': 'tbody tr:nth-child(2) td, tbody tr:nth-child(2) th',
    'props': 'background-color:#2b2b2b; color:white'
}

estilo_mensual.set_table_styles(
    [columas, tabla, indices, fila_media],
    overwrite=False
)
estilo_mensual

##**Desafío: llegó la hora de practicar**

In [53]:
import pandas as pd

# Preparación de fechas
tienda_libros['fecha_llegada'] = pd.to_datetime(tienda_libros['fecha_llegada'])
tienda_libros['fecha_pedido'] = pd.to_datetime(tienda_libros['fecha_pedido'])

fechas = tienda_libros.copy()
fechas = fechas.sort_values('fecha_pedido')
fechas = fechas[fechas['fecha_pedido'] >= '2013-01-01']

fechas['mes'] = fechas['fecha_pedido'].dt.strftime('%Y - %b')
fechas['tiempo_entrega'] = (
    fechas['fecha_llegada'] - fechas['fecha_pedido']
).dt.days

# Tabla dinámica
entregas = fechas.pivot_table(
    index='pais',
    columns='mes',
    values='tiempo_entrega',
    aggfunc='mean',
    sort=False
)

# Definición de estilos
columas = {
    'selector': '.col_heading',
    'props': 'font-weight:normal; font-family:Arial'
}

tabla = {
    'selector': 'td, th',
    'props': 'text-align:left'
}

indices = {
    'selector': '.index_name',
    'props': 'font-weight:bold; font-family:Arial; text-align:right'
}

filas_gris = {
    'selector': (
        'tbody tr:nth-child(2) th.row_heading,'
        'tbody tr:nth-child(4) th.row_heading,'
        'tbody tr:nth-child(6) th.row_heading,'
        'tbody tr:nth-child(8) th.row_heading'
    ),
    'props': 'background-color:#2b2b2b; color:white'
}

# Aplicación de estilos
estilo_mensual = entregas.style.format('{:.0f}')

estilo_mensual = estilo_mensual.set_table_styles(
    [columas, tabla, indices, filas_gris],
    overwrite=False
)

estilo_mensual = estilo_mensual.set_sticky(axis='index')

estilo_mensual

# Misión 5: Informe de Desempeño

El informe de desempeño es un documento muy importante para la empresa. En este, todos los que trabajan en la tienda pueden entender cómo está la empresa. Debido a ello, las tablas bien construídas son esenciales para mostrar los datos de la mejor forma.

Por lo tanto, necesitamos construir una visualización que permita entender la **relación entre tipos de clientes y modo de envío de productos de acuerdo con las ventas**. De esta forma, será posible destacar en el informe cuál es el modo de envío y cuáles son los que más generaron lucro en las ventas.

In [59]:
df_cliente = ventas.pivot_table(index='segmento_cliente',columns='modo_envio',values='ventas',aggfunc='sum')
df_cliente

modo_envio,Económica,Entrega en 24 horas,Entrega estándar,Envío rápido
segmento_cliente,,,,
B2B,718461.22,217465.60,1884738.56,602049.40
B2C,729174.73,182531.47,2248283.69,498294.88

In [60]:
df_cliente['Total'] = df_cliente.sum(axis=1)
df_cliente.loc['Total'] = df_cliente.sum()
df_cliente

modo_envio,Económica,Entrega en 24 horas,Entrega estándar,Envío rápido,Total
segmento_cliente,,,,,
B2B,718461.22,217465.60,1884738.56,602049.40,3422714.78
B2C,729174.73,182531.47,2248283.69,498294.88,3658284.77
Total,1447635.95,399997.07,4133022.25,1100344.28,7080999.55

In [61]:
compra_cliente = df_cliente.style.format('{:,.2f}')
compra_cliente

In [57]:
tabla = {
    'selector': 'td,th',
    'props': 'font-weight: normal; font-family: Helvetica; text-align: left; background-color: white; color:black'
}
estilo.set_table_styles([tabla], overwrite=1)

In [62]:
tabla={
    'selector':'td,th:not(.index_name)',
    'props':'font-weight:normal; font-family:Arial; text-align:center: background-color:white'
}

indice={
    'selector':'.index_name',
    'props':'font-weight:normal; font-style:italic; text-align:right: color:#696969'
}

compra_cliente.set_table_styles([tabla,indice])

In [63]:
compra_cliente.set_table_styles({
    'Total':[
        {
            'selector':'th',
            'props':'border-top: 2px solid #181818'
        },
        {
            'selector':'td',
            'props':'border-top: 2px solid #181818'
        }
    ],
    'B2B':[
        {
            'selector':'th',
            'props':'border-top: 2px solid #181818'
        },
        {
            'selector':'td',
            'props':'border-top: 2px solid #181818'
        }
    ]
}, overwrite=False, axis=1)

In [66]:
compra_cliente.set_table_styles({
    'Total':[{
        'selector':'.true',
        'props':'background-color: black'
    }]
},overwrite=False,axis=0)

colores_columna = pd.DataFrame(['false','true','false'], index=df_cliente['Total'].index, columns=['Total'])

compra_cliente.set_td_classes(colores_columna)

In [70]:
colores_columna = pd.DataFrame(['false','true','false'], index=df_cliente['Total'].index, columns=['Total'])

compra_cliente.set_td_classes(colores_columna)

true_class_style = {
    'selector': '.true',
    'props': 'background-color: black'
}

compra_cliente.set_table_styles([true_class_style], overwrite=False)

In [67]:
colores_columna = pd.DataFrame(['false','true','false'], index=df_cliente['Total'].index, columns=['Total'])
colores_columna

                  Total
segmento_cliente
B2B               false
B2C                true
Total             false

In [79]:
import pandas as pd

ventas = pd.DataFrame({
    "segmento_cliente": ["B2B", "B2C", "Retail"],
    "modo_envio": ["Express", "Normal", "Express"],
    "ventas": [1000, 1500, 800]
})

tabla = (
    ventas
    .pivot_table(
        index="segmento_cliente",
        columns="modo_envio",
        values="ventas",
        aggfunc="sum"
    )
    .assign(Total=lambda df: df.sum(axis=1))
)

tabla.loc["Total"] = tabla.sum()

def pintar_nulos(valor):
    return "background-color: #FF6B6B" if pd.isna(valor) else ""

estilo = (
    tabla
    .style
    .format("{:,.2f}")
    .applymap(pintar_nulos)
    .set_table_styles(
        [{
            "selector": "tr:last-child",
            "props": [("background-color", "#4682B4"), ("color", "white")]
        }],
        overwrite=False
    )
)

estilo

/tmp/ipython-input-2755661534.py:29: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  .applymap(pintar_nulos)